@page "/books/create/"
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs
@inject IBookService bookService
@inject IAuthorService authorService
@inject NavigationManager navManager
@attribute [Authorize(Roles = Roles.Administrator)]

<h3>Create New Book</h3>

<EditForm Model="Book" OnValidSubmit="HandleCreateBook">    
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="col-sm-6 control-section">
        <div class="content-wrapper">
            <SfTextBox FloatLabelType="@FloatLabelType.Auto" Placeholder="Title" @bind-Value="Book.Title" id="title"/>
            <SfTextBox FloatLabelType="@FloatLabelType.Auto" Placeholder="ISBN" @bind-Value="Book.Isbn" id="isbn"/>
            <SfNumericTextBox FloatLabelType="@FloatLabelType.Auto" Placeholder="Year" TValue="int" Step="1" Format="n0" @bind-Value="Book.Year"/>
            <SfNumericTextBox FloatLabelType="@FloatLabelType.Auto" Placeholder="Price" TValue="double" Step="0.5" Format="c2" @bind-Value="Book.Price"/>
            <SfTextBox FloatLabelType="@FloatLabelType.Auto" Placeholder="Summary" @bind-Value="Book.Summary" id="summary"/>
            <br />
            <SfDropDownList TItem="AuthorReadOnlyDto" TValue="int" PopupHeight="230px" Placeholder="Select Author" @bind-Value="Book.AuthorId" DataSource="@Authors">
                <DropDownListTemplates TItem="AuthorReadOnlyDto">
                    <ItemTemplate Context="AuthorContext1">
                        <span>@(AuthorContext1.FirstName) @(AuthorContext1.LastName)</span>
                    </ItemTemplate>
                    <ValueTemplate Context="AuthorContext2"> 
                        <span>@(AuthorContext2.FirstName) @(AuthorContext2.LastName)</span>
                    </ValueTemplate> 
                </DropDownListTemplates>
                <DropDownListFieldSettings Value="Id"/>
            </SfDropDownList>
        </div>
    </div>
    <br/>
    <div class="form-group">
        <label>Book Cover Photo</label>
        <InputFile OnChange="HandleFileSelection"/>
        <img src="@img" width="100" height="100" class="img-thumbnail" />
        <p class="text-danger">@UploadFileWarning</p>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">
        <span class="oi oi-pencil"></span>Save
    </button>
    <button @onclick="BackToList" type="button" class="btn btn-outline-secondary">
        <span class="oi oi-media-skip-backward"></span>Back To List
    </button>

</EditForm>

@code {
    private BookCreateDto Book = new();
    private List<AuthorReadOnlyDto> Authors = new();
    private string UploadFileWarning = string.Empty;
    private string img = string.Empty;
    private long maxFileSize = 1024 * 1024 * 5;

    protected override async Task OnInitializedAsync()
    {
        var response = await authorService.Get();
        if (response.Success)
        {
            Authors = response.Data;
        }
    }
    private async Task HandleCreateBook()
    {
        var response = await bookService.Create(Book);
        if (response.Success)
        {
            BackToList();
        }
    }

    private async Task HandleFileSelection(InputFileChangeEventArgs e)
    {
        var file = e.File;
        if (file != null)
        {
            if(file.Size > maxFileSize)
            {
                UploadFileWarning = "This file is too big for upload.";
                return;
            }

            var ext = System.IO.Path.GetExtension(file.Name);
            if((ext.ToLower().Contains("jpg") || ext.ToLower().Contains("png") || ext.ToLower().Contains("jpeg")) == false)
            {
                UploadFileWarning = "Please select a valid image file (*.jpg | *.png)";
                return;
            }

            var byteArray = new byte[file.Size];
            await file.OpenReadStream().ReadAsync(byteArray);
            string imageType = file.ContentType;
            string base64String = Convert.ToBase64String(byteArray);

            Book.ImageData = base64String;
            Book.OriginalImageName = file.Name;
            img = $"data:{imageType}; base64, {base64String}";

        }
    }

    private void BackToList()
    {
        navManager.NavigateTo("/books/");
    }
}

<style>
    .content-wrapper {
        width: 35%;
        margin: 0 auto;
        min-width: 185px;
    }
    .control-label {
        padding: 24px 0px 10px 0px;
        font-size: 12px;
    }
</style>