@page "/books/update/{id:int}"
@inject IBookService bookService
@inject IAuthorService authorService
@inject NavigationManager navManager
@attribute [Authorize(Roles = Roles.Administrator)]

<h3>Edit Book</h3>

<EditForm Model="Book" OnValidSubmit="HandleBookUpdate">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">
        <label for="title">Book Title</label>
        <InputText class="form-control" @bind-Value="Book.Title" id="title"/>
        <ValidationMessage For="@(() => Book.Title)"/>
    </div>
    <br/>
    <div class="form-group">
        <label for="isbn">ISBN</label>
        <InputText class="form-control" @bind-Value="Book.Isbn" id="isbn"/>
        <ValidationMessage For="@(() => Book.Isbn)"/>
    </div>
    <br/>
    <div class="form-group">
        <label for="year">Year</label>
        <InputNumber class="form-control" @bind-Value="Book.Year" id="year"/>
        <ValidationMessage For="@(() => Book.Year)"/>
    </div>
    <br/>
    <div class="form-group">
        <label for="price">Price</label>
        <InputNumber class="form-control" @bind-Value="Book.Price" id="price"/>
        <ValidationMessage For="@(() => Book.Price)"/>
    </div>
    <br/>
    <div class="form-group">
        <label for="summary">Summary</label>
        <InputText class="form-control" @bind-Value="Book.Summary" id="summary"/>
        <ValidationMessage For="@(() => Book.Summary)"/>
    </div>
    <br/>
    <div class="form-group">
        <label for="author">Author</label>
        <InputSelect class="form-select" @bind-Value="Book.AuthorId" id="authorid">
            <option value="">-- Select Author --</option>
            @foreach(var author in Authors)
            {
                <option value="@author.Id">@author.FirstName @author.LastName</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => Book.AuthorId)"/>
    </div>
    <br/>
    <div class="form-group">
        <label>Book Cover Photo</label>
        <InputFile OnChange="HandleFileSelection"/>
        <img src="@img" width="100" height="100" class="img-thumbnail" />
        <p class="text-danger">@UploadFileWarning</p>
    </div>
    <br/>
    <button class="btn btn-primary" type="submit" >
        <span class="oi oi-save"></span>Save
    </button>
    <button @onclick="BackToList" class="btn btn-outline-secondary" type="button">
        <span class="oi oi-media-skip-backward"></span>Back To List
    </button>

</EditForm>


@code {
    [Parameter]
    public int id { get; set; }

    private BookUpdateDto Book = new BookUpdateDto();
    private List<AuthorReadOnlyDto> Authors = new();
    private string img = string.Empty;
    private string UploadFileWarning = string.Empty;
    private long maxFileSize = 1024 * 1024 * 5;

    protected override async Task OnInitializedAsync()
    {
        var bookResponse = await bookService.GetForUpdate(id);
        if (bookResponse.Success)
        {
            Book = bookResponse.Data;
            img = Book.Image;
        }

        var authorResponse = await authorService.Get();
        if (authorResponse.Success)
        {
            Authors = authorResponse.Data;
        }
    }

    private async Task HandleBookUpdate()
    {
        var response = await bookService.Update(id, Book);
        if (response.Success)
        {
            BackToList();
        }
    }

    private async Task HandleFileSelection(InputFileChangeEventArgs e)
    {
        var file = e.File;
        if (file != null)
        {
            if(file.Size > maxFileSize)
            {
                UploadFileWarning = "This file is too big for upload.";
                return;
            }

            var ext = System.IO.Path.GetExtension(file.Name);
            if((ext.ToLower().Contains("jpg") || ext.ToLower().Contains("png") || ext.ToLower().Contains("jpeg")) == false)
            {
                UploadFileWarning = "Please select a valid image file (*.jpg | *.png)";
                return;
            }

            var byteArray = new byte[file.Size];
            await file.OpenReadStream().ReadAsync(byteArray);
            string imageType = file.ContentType;
            string base64String = Convert.ToBase64String(byteArray);

            Book.ImageData = base64String;
            Book.OriginalImageName = file.Name;
            img = $"data:{imageType}; base64, {base64String}";

        }
    }

    private void BackToList()
    {
        navManager.NavigateTo("/books/");
    }
}
